

body{
    background: url(http://getwallpapers.com/wallpaper/full/c/d/a/320050.jpg);

}
div.logos{
  display: none;
}
td.name{
  text-align: left;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid none;
}
td{
  color: black;
}
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:white;
}
tr:nth-child(even) td {
  background:white;
}
tr:nth-child(odd):hover td {
 background-color: #404040
}
tr:nth-child(even):hover td {
 background-color: #404040
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
 
}

td:last-child {
  border-right: 0px;
}


