

body{
    background: url(http://getwallpapers.com/wallpaper/full/c/d/a/320050.jpg);

}
div.logos{
  display: none;
}
td.name{
  text-align: left;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid none;
}
td{
  color: white;
}
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#342A2A;
}
tr:nth-child(even) td {
  background:#342A2A;
}
tr:nth-child(odd):hover td {
 background-color: #404040
}
tr:nth-child(even):hover td {
 background-color: #404040
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
 
}

td:last-child {
  border-right: 0px;
}










th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:3px solid #BD0000;
  text-align: center;
  font-size:17px;
  font-weight: 80;
  padding:24px;
 
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}