div.box{
	text-align: center;
}

body{
	background: #5b8de8;
	background: url(https://wallpapertag.com/wallpaper/full/a/5/8/463868-large-ice-hockey-backgrounds-1920x1200-for-phone.jpg);
	align-content: center;

}

p{
	color: black;
}

div.teams{
	
	border: 5px;
	padding: 10px;
	border-right: 350px;
	border-left: 350px;
	text-align: center;
	text-size:  10px;
}

div.side{
	text-align: right;
	
}
table.table_bar{

	
}

h4{
font-size: 20px;
color: black;
 
}

table.tabulka_A{
	text-align: left;
	background-color: white;
	
	border-collapse: collapse;
}

table th{
	text-align: left;
	border: 1px solid #3e3e3e;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table.tabulka_A tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_B{
	text-align: left;
	background-color: white;
	
	border-collapse: collapse;
}

table th{
	text-align: center;
	border: 1px solid #3e3e3e;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table.tabulka_B tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_left tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_vychod tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_zapad tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_B tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right{
	text-align: left;
	background-color: white;
	border-collapse: collapse;
	font-size: 15px;
}




table.tabulka_left{
	text-align: left;
	background-color: white;
	border-collapse: collapse;
	font-size: 15px;

}



#divLeft{
	width: 25%;
	float: left;
}


.jumbotron{
	width: 120%;
	float: left;
	
}

.container{
			width: 80%;
			height: auto;
			
			display:flex;
			flex-direction:row;
			justify-content:none;
			flex-flow: row-reverse wrap;
		}


/*Downloaded from https://www.codeseek.co/semibran/css-tournament-bracket-VjmPJd */

.bracket {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
}
.bracket .round {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div.matchups .matchup:last-child {
  margin-bottom: 0 !important;
}
.bracket .round .winners > div.matchups .matchup .participants {
  border-radius: 0.25rem;
  overflow: hidden;
}
.bracket .round .winners > div.matchups .matchup .participants .participant {
  box-sizing: border-box;
  color: #858585;
  border-left: 0.25rem solid #858585;
  background: white;
  width: 14rem;
  height: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.bracket .round .winners > div.matchups .matchup .participants .participant.winner {
  color: #60c645;
  border-color: #60c645;
}
.bracket .round .winners > div.matchups .matchup .participants .participant.loser {
  color: #dc563f;
  border-color: #dc563f;
}
.bracket .round .winners > div.matchups .matchup .participants .participant:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}
.bracket .round .winners > div.matchups .matchup .participants .participant span {
  margin: 0 1.25rem;
  line-height: 3;
  font-size: 1rem;
  font-family: "Roboto Slab";
}
.bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
  border-color: #60c645;
}
.bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
}
.bracket .round .winners > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 4rem;
}
.bracket .round .winners > div.connector .merger {
  position: relative;
  height: 8rem;
}
.bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.bracket .round .winners > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
.bracket .round .winners > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}
.bracket .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 2rem;
}
.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 10rem;
}
.bracket .round.semifinals .winners .connector .merger {
  height: 16rem;
}
.bracket .round.semifinals .winners .connector .line {
  height: 8rem;
}
.bracket .round.finals .winners .connector .merger {
  height: 3rem;
}
.bracket .round.finals .winners .connector .line {
  height: 1.5rem;
}
