div.box{
	text-align: center;
}

body{
	background: #5b8de8;
	background: url(https://wallpapertag.com/wallpaper/full/a/5/8/463868-large-ice-hockey-backgrounds-1920x1200-for-phone.jpg);
	align-content: center;

}

div.teams{
	
	border: 5px;
	padding: 10px;
	border-right: 350px;
	border-left: 350px;
	text-align: center;
	text-size:  10px;
}

div.side{
	text-align: right;
	
}
table.table_bar{

	
}

h4{
font-size: 20px;
color: black;
 
}

table.tabulka_A{
	text-align: left;
	background-color: white;
	border: 1px solid #94a1d7;
	border-collapse: collapse;
}

table th{
	text-align: left;
	border: 1px solid #3e3e3e;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table.tabulka_A tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_B{
	text-align: left;
	background-color: white;
	border: 1px solid #94a1d7;
	border-collapse: collapse;
}

table th{
	text-align: center;
	border: 1px solid #3e3e3e;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table.tabulka_B tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_left tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_vychod tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_zapad tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right tr:nth-child(odd) td{
	background-color: #c5c5c5;
}
table.tabulka_B tr:nth-child(odd) td{
	background-color: #c5c5c5;
}

table.tabulka_right{
	text-align: left;
	background-color: white;
	border: 1px solid #94a1d7;
	border-collapse: collapse;
}




table.tabulka_left{
	text-align: left;
	background-color: white;
	border-collapse: collapse;
	font-size: 15px;
}



#divLeft{
	width: 25%;
	float: left;
}


.jumbotron{
	width: 120%;
	float: left;
}




